absl-py==1.4.0
affine==2.3.1
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
autopep8==2.0.2
autoviz==0.1.58
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.1
bokeh==2.4.3
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
colorama==0.4.6
colorcet==3.0.1
comm==0.1.2
contextily==1.2.0
contourpy==1.0.6
cycler==0.11.0
dask==2023.3.0
datashader==0.14.4
datashape==0.5.2
debugpy==1.6.4
decorator==5.1.1
defusedxml==0.7.1
emoji==2.2.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==1.2.0
fastjsonschema==2.16.2
Fiona @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/Fiona-1.8.21-cp310-cp310-win_amd64.whl
flatbuffers==23.3.3
fonttools==4.38.0
fqdn==1.5.1
fsspec==2023.3.0
gast==0.4.0
GDAL @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/GDAL-3.4.3-cp310-cp310-win_amd64.whl
geographiclib==2.0
geopandas==0.12.2
geopy==2.3.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
h5netcdf==1.1.0
h5py==3.8.0
holoviews==1.14.9
hvplot==0.8.3
idna==3.4
imageio==2.26.0
importlib-metadata==6.0.0
importlib-resources==5.12.0
ipykernel==6.19.4
ipython==8.7.0
ipython-genutils==0.2.0
ipywidgets==8.0.5
ipyleaflet==0.17.2
isoduration==20.11.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==7.4.8
jupyter_core==5.1.1
jupyter_server==2.1.0
jupyter_server_terminals==0.4.4
jupyterlab==3.5.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.6
jupyterlab_server==2.18.0
keras==2.11.0
kiwisolver==1.4.4
lazy_loader==0.1
libclang==15.0.6.1
lightgbm==3.3.3
llvmlite==0.39.1
locket==1.0.0
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mercantile==1.2.1
mistune==2.0.4
multipledispatch==0.6.0
munch==2.5.0
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==2.8.8
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.2
odc-geo==0.3.3
odc-stac==0.3.5
openpyxl==3.1.1
opt-einsum==3.3.0
osmnx==1.2.3
packaging==22.0
pandas==1.5.2
pandocfilters==1.5.0
panel==0.12.7
param==1.12.3
parso==0.8.3
partd==1.3.0
patsy==0.5.3
pickleshare==0.7.5
Pillow==9.3.0
planetary-computer==0.4.9
platformdirs==2.6.2
prometheus-client==0.15.0
prompt-toolkit==3.0.36
protobuf==3.19.6
psutil==5.9.4
pure-eval==0.2.2
pyamg==4.2.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.5
pydeck==0.8.0
pyee==8.2.2
Pygments==2.13.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyproj==3.4.1
pyrsistent==0.19.3
pystac==1.6.1
pystac-client==0.6.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.4
pytz==2022.7
pyviz-comms==2.2.1
PyWavelets==1.4.1
pywin32==305
pywinpty==2.0.10
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.4.1
QtPy==2.3.0
rasterio==1.3.4
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.2
rioxarray==0.13.4
rsa==4.9
Rtree==1.0.1
scikit-image==0.20.0
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.2
Send2Trash==1.8.0
Shapely @ file:///C:/Users/elvin/Downloads/GDAL%20Dependencies/Shapely-1.8.2-cp310-cp310-win_amd64.whl
six==1.16.0
sniffio==1.3.0
snuggs==1.4.7
soupsieve==2.3.2.post1
stack-data==0.6.2
stackstac==0.4.3
statsmodels==0.13.5
sweetviz==2.1.4
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.1
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
terminado==0.17.1
textblob==0.17.1
threadpoolctl==3.1.0
tifffile==2023.3.15
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.8.0
typing_extensions==4.5.0
uri-template==1.2.0
urllib3==1.26.13
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.4
Werkzeug==2.2.3
widgetsnbextension==4.0.6
wordcloud==1.8.2.2
wrapt==1.15.0
xarray==2023.2.0
xarray-spatial==0.3.5
xgboost==1.7.4
xlrd==2.0.1
xyzservices==2022.9.0
zipp==3.11.0
